$primary-color: #3721b4;
$secondary-color: #0f69dfee;
$tertiary-color: #94918a;
$four-color: white;
$five-color: #14cc42;
$six-color: #cc531b;
$seven-color: #94918a;
$eight-color: #970808;
$nine-color: #256e37;
